%header.header-div{:"ng-style"=>"headerStyle"}
  .brand-div
    .brand.pointer{:"ng-include"=>true, :src=>"'brand.html'"}
  .brand-title-div
    .brand-title{:"ng-if"=>"email"} Available time of {{email}}