!!!
%html{ lang: "en" }
  %head
    %style{:type=>"text/css"} .b{font-weight: bold;} .pl10{padding-left:10px;} .mt20{margin-top:20px;} .header{width: 100%;background-color: #323232;} .header-image{height:42px;width:202px;margin: 6px 0px 4px 36px;}
  %body= yield